.loadingIcon {
    animation: loading 2s linear infinite;
}

.noUserContainer {
    display: flex;
    
    color: var(--RED);
}

.noUserContainer h2 {
    padding-left: 30px;
}


@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}