.listContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;

    margin: 20px 10px;
    padding: 0;

    list-style: none;
}

.listContainer li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 10px;
    box-sizing: border-box;

    height: 150px;
    width: 140px;
    
    border: 2px solid var(--GREEN);
}

.listContainer li:hover {
    background-color: var(--GREEN);

    cursor: pointer;
}

.listContainer li img {
    height: 80px;
    width: 80px;
}

.listContainer li p {
    color: var(--WHITE);
}