.listContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;

    height: 98%;

    margin: 20px 10px;
    padding: 0;

    list-style: none;
    overflow: auto;
}

.listContainer li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid var(--GREEN);
    padding: 10px;
}

.listContainer li:hover {
    background-color: var(--GREEN);
    cursor: pointer;
}

.listContainer li img {
    height: 150px;
    width: 150px;
}

.listContainer li p {
    color: var(--WHITE);
    font-size: 1.2em;
}