.listContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    overflow: auto;
}

.listContainer li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid orange;
    margin: 5px;
    padding: 10px;
}

.listContainer li:hover {
    background-color: orange;
    cursor: pointer;
}

.listContainer li img {
    height: 150px;
    width: 150px;
}

.listContainer li p {
    color: white;
}