.headerContainer {
    grid-area: cabecalho;

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;

    width: 100%;

    border-bottom: solid 1.5px var(--GREEN);
}

.headerContainerTittle {
    display: flex;
    align-items: center;
    column-gap: 6px;

    margin-left: 15px;
}

.headerContainerTittle h1 {
    color: var(--GREEN);

    font-size: 2.3em;
}

.headerContainerTittle h2 {
    color: var(--WHITE);
}

.headerItensContainer {
    display: flex;

    margin-right: 15px;
}

.headerContainerSearch {
    display: flex;
    align-items: center;

}

.headerContainerSearch input {
    height: 25px;
    width: 220px;
    
    margin-right: 10px;
    
    border-radius: 7px;
    border: none;
    
    outline: none;
    text-indent: 3px;
}

.headerContainerSearch button {
    border: none;
    
    background-color: var(--BLACK);
}

.headerContainerSearch button svg {
    width: 22px;
    height: 22px;
    
    fill: var(--GREEN);
}

.headerContainerSearch button:not([disabled]):hover svg{
    fill: var(--WHITE);
    
    cursor: pointer;
}

.headerContainerSearch button:disabled svg {
    width: 16px;
    height: 16px;
    
    fill: var(--GRAY);
    
    cursor: default;
}

.sideMenuButtonContainer {
    display: none;

    background-color: var(--BLACK);

    border: solid 1.9px var(--GREEN);
    border-radius: 8px;
    box-sizing: border-box;
}

.sideMenuButtonContainer svg {
    transition: 0.1s;

}

.sideMenuButtonContainer:active svg{
    transform: rotate(90deg);
}

@media only screen and (max-width: 600px) {
    .headerContainerSearch{
        display: none;
    }

    .sideMenuButtonContainer{
        display: block;
    }
}