.homeContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 24px;

    height: 100%;

    margin: 48px;
}

.homeTittleContainer {
    color: var(--WHITE);

    font-size: 2.6em;
}

.homeImgContainer {
    width: var(15% + 100px);
    height: var(15% + 100px);
}

.homeImgContainer svg{
    width: 100%;
    height: 100%;
}

.homeInfoContainer {
    margin-left: 24px;
    margin-right: 24px;

    color: var(--WHITE);

    font-size: 1.6em;
    overflow-wrap: break-word;
}