.primaryContainer {
    flex-grow: 1;

    display: grid;
    grid-template-areas: 
    'cabecalho cabecalho'
    'navigation content';
    grid-template-columns: 100px 1fr;
    grid-template-rows: 80px 1fr;

    height: 100%;
}

.dataContainer {
    grid-area: content;

    display: flex;
    align-items: flex-start;
    justify-content: center;
 
    background-color: var(--BLACK);
}

.blur {
    filter: blur(5px)
}

@media only screen and (max-width: 600px) {
    .primaryContainer {
        grid-template-areas: 
        'cabecalho'
        'content';
        grid-template-columns: 1fr;
    }
}