.profileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 15px;
}

.userInfoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.userInfoContainer img {
    width: 200px;
    height: 200px;

    color: var(--WHITE);
}

.userInfoContainer h2 {
    margin-bottom: 0;
    
    color: var(--WHITE);

    font-size: 1.8em;
}

.userInfoContainer h3 {
    margin-top: 10px;
    
    color: var(--GRAY);
}

.numbersContainer p {
    padding-bottom: 5px;

    color: var(--WHITE);

    font-size: 1.3em;
}

.numbersContainer p::before {
    content: url(../assets/circle-solid.svg);

    padding-right: 5px;
}