.listRepoContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 8px;

    width: 90%;
}

.listRepoItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #201e1e;
}

.listRepoItemFirst{
    margin-left: 10px;
}

.listRepoItemFirst p {
    color: grey;
    font-size: 0.8em;
}

.listRepoItemLast {
    display: flex;
    column-gap: 10px;
    margin-right: 10px;
}

.listRepoItemLastInfos {
    text-align: center;
}