html, body {
    font-family: monospace;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--BLACK);
}

:root {
    --GREEN: #23CE6B;
    --GRAY: #747C92;
    --BLACK: #272D2D;
    --BLACKLIGHT: #313838;
    --WHITE: #FDFFFC;
    --RED: #C73E1D;
}

.white {
    color: var(--WHITE);
}

.invert{
    transform: rotate(180deg);
}