html, body {
    font-family: monospace;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c1117;
}

.white {
    color: white;
}