.sideMenuContainer {
    position: fixed;

    display: flex;
    flex-direction: column;

    height: 100%;
    width: 140px;

    right: -140px;
    transition: right 0.3s ease;

    border-left: solid 1px var(--GREEN);

    background-color: var(--BLACK);
}

.sideMenuContainerSearch {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 50px;
}

.sideMenuContainerSearch input {
    width: 80px;
}

.sideMenuContainerSearch button {
    width: 20px;
    height: 20px;

    padding: 0;

    border: none;

    background-color: var(--BLACK);
}

.sideMenuContainer > button{

    height: 50px;

    border: none;
    border-bottom: solid 1px var(--GREEN);
    border-top: solid 1px var(--GREEN);

    background-color: var(--BLACK);
}

.sideMenuContainer button:disabled svg {
    fill: var(--GRAY);
}

.sidebar-expanded {
    right: 0;
}

.sideMenuButtonClose {
    display: none;

    position: fixed;
    right: 150px;
    top: 20px;

    border: none;

    background-color: var(--BLACK);
}

.displayNone {
    top: -40px;
}

@media only screen and (min-width: 600px) {
    .sideMenuContainer {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .sideMenuButtonClose {
        display: block;
    }
}