.primaryContainer {
    flex-grow: 1;

    display: grid;
    grid-template-areas: 
    'cabecalho cabecalho'
    'navigation content';
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 1fr;

    height: 100%;
}

.headerContainer {
    grid-area: cabecalho;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    background-color: #000409;
}

.headerContainerTittle {
    display: flex;
    align-items: center;
    column-gap: 6px;

    margin-left: 15px;
}

.headerContainerTittle h1 {
    color: orange;
    font-size: 2.3em;
}

.headerContainerTittle h2 {
    color: white;
}

.headerContainerSearch {
    display: flex;
    align-items: center;

    margin-right: 15px;
}

.headerContainerSearch input {
    height: 25px;
    width: 220px;
    margin-right: 10px;
    border-radius: 7px;
    border: none;
    outline: none;
    text-indent: 3px;
}

.headerContainerSearch button {
    border: none;
    background-color: #000409;
}

.headerContainerSearch button svg {
    width: 22px;
    height: 22px;
    fill: orange;
}

.headerContainerSearch button:not([disabled]):hover svg{
    fill: white;
    cursor: pointer;
}

.headerContainerSearch button:disabled svg {
    width: 16px;
    height: 16px;
    fill: #a2a4a5;
    cursor: default;
}

.navContainer {
    grid-area: navigation;

    display: flex;
    flex-direction: column;
}

.navContainer button {
    padding: 3px 10px;
    height: 130px;
    background-color: #000409;
    border: none;
    color: white;
    cursor: pointer;
}

.navContainer button:disabled {
    color: #a2a4a5;
    cursor: default;
}

.navContainer button:not([disabled]):hover {
    background-color: #201e1e;
}

.navContainer button:not([disabled]):active {
    background-color: rgb(207, 207, 207);
}

.dataContainer {
    grid-area: content;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000409;
}