.primaryContainer {
    flex-grow: 1;

    display: grid;
    grid-template-areas: 
    'cabecalho cabecalho'
    'navigation content';
    grid-template-columns: 100px 1fr;
    grid-template-rows: 80px 1fr;

    height: 100%;
}

.headerContainer {
    grid-area: cabecalho;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    border-bottom: solid 1.5px var(--GREEN);
}

.headerContainerTittle {
    display: flex;
    align-items: center;
    column-gap: 6px;

    margin-left: 15px;
}

.headerContainerTittle h1 {
    color: var(--GREEN);

    font-size: 2.3em;
}

.headerContainerTittle h2 {
    color: var(--WHITE);
}

.headerContainerSearch {
    display: flex;
    align-items: center;

    margin-right: 15px;
}

.headerContainerSearch input {
    height: 25px;
    width: 220px;
    
    margin-right: 10px;
    
    border-radius: 7px;
    border: none;
    
    outline: none;
    text-indent: 3px;
}

.headerContainerSearch button {
    border: none;
    
    background-color: var(--BLACK);
}

.headerContainerSearch button svg {
    width: 22px;
    height: 22px;
    
    fill: var(--GREEN);
}

.headerContainerSearch button:not([disabled]):hover svg{
    fill: var(--WHITE);
    
    cursor: pointer;
}

.headerContainerSearch button:disabled svg {
    width: 16px;
    height: 16px;
    
    fill: var(--GRAY);
    
    cursor: default;
}

.navContainer {
    grid-area: navigation;

    display: flex;
    flex-direction: column;

    border-right: solid 1.5px var(--GREEN);
}

.navContainer button {
    height: 110px;
    
    padding: 3px 10px;
    
    background-color: var(--BLACK);
    color: var(--WHITE);
    
    border: none;
    border: solid 1.5px var(--GREEN);
    
    cursor: pointer;
}

.navContainer button:disabled {
    color: var(--GRAY);
    
    cursor: default;
}

.navContainer button:not([disabled]):hover {
    background-color: var(--BLACKLIGHT);
}

.navContainer button:not([disabled]):active {
    background-color: var(--GRAY);
}

.navContainer button:disabled svg {
    fill: var(--GRAY);
}

.dataContainer {
    grid-area: content;

    display: flex;
    align-items: center;
    justify-content: center;
 
    background-color: var(--BLACK);
}